*{
    box-sizing: border-box;
}
section{
    width: 100%;
    text-decoration: none;
}#welcomeSec{
    background-image:url(../images/backgrounds/h_img.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    align-content: center;
    text-align: center;

}
#intro.logo {
    padding-top: 200px;
    align-content: center; 
    text-align: center; 
}
#mouse{
    align-content: center;
    bottom: 20px;
}
#aboutSec,
#serviceSec,
#contactSec{
    margin-top: 50px;
    text-align: center;
    align-content: center;
}
#serviceSec {
    background-image: url(../images/backgrounds/s_image.jpg);
    height: 68%;
    background-repeat: no-repeat;
    color: #fff;
    padding-top: 134px;
    padding-bottom:100px;

}
#whattodoSec {
    margin-top: 50px;
}
#whattodoSec h2{
    text-align: center;
}
#contactSec{
    background-image: url(../images/backgrounds/c_image.jpg);
    width: 100%;
    height: 100%;
    padding-top: 50px;
    color: #fff;

}
#portfolioSec{
    margin-top: 50px;
    text-align: center;
    align-content: center;
}
#portfolioSec img{
    margin: 10px 10px 30px 10px;
}
input[type="text"]{
    width: 420px;
    padding-left: 5px;
}
textarea{
    width: 800px;
    padding-top: 15px;
}
input[type="text"],
textarea {
    border: none;
    padding: 5px 10px;
    margin:5px 10px 15px 10px;
    background: transparent;
    border: solid 1px;
    color: #ffffff;
}
::placeholder {
    color: #ffffff;
    opacity: 1;
}
input[type="submit"] {
    font-size: 15px;
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color:#3366cc;
}

input[type="submit"]:hover {
    font-size: 15px;
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #ffffcc;
}